html * {
    font-family: 'Ubuntu', sans-serif;
}
html {
    height: 100%;
}
main {
    height: 80vh;
}
.btn {
    box-shadow: 0px 3px 2px #aaa;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}
.search-bar {
    height: fit-content;
}
.main-icon {
    width: 5rem;
    filter: invert(100%);
}
.home-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
}
.w-100-s-25 {
    width: 100%;
}
@media screen and ( min-width: 576px) {
    .w-100-s-25 {
        width: 100%;
    }
    .home-grid {
        grid-template-columns: 1fr;
    }
}
@media screen and ( min-width:768px ) {
    .w-100-s-25 {
        width: 50%;
    }
    .home-grid {
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 992px) {
    .w-100-s-25 {
        width: 30%;
    }
    .home-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}